.swiper-initialized {
    height: calc(100vh - var(--navbar-height));
    width: 100%;
}

.db-swiper-container {
    width: 100%;

}

.db-swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



